<p class="credits">Un desarrollo de 
  <span>
    <a href="https://www.whaleandjaguar.co/prueba/" class ="wj-logo" target="_blank">
      <img src="images/logos/wj.png"/>            
    </a>
    <a href="https://twitter.com/WhaleandJaguar" class ="social-logo" target="_blank">
      <img src="images/logos/tw.png">
    </a>
    <a href="https://www.facebook.com/whaleandjaguar/" class ="social-logo" target="_blank">
      <img src="images/logos/fb.png">
    </a>
    <a href="https://www.linkedin.com/company/22315371/" class ="social-logo" target="_blank">
      <img src="images/logos/in.png">
    </a>    
    <a href="https://www.instagram.com/whaleandjaguar.co/" class ="social-logo" target="_blank">
      <img src="images/logos/ig.png">
    </a>

  </span>
</p>