<p class="credits">Un desarrollo de 
  <span>
    <a href="https://www.whaleandjaguar.co/prueba/" class ="wj-logo" target="_blank">
      <img src="images/logo-wj-small.png"/>            
    </a>
    <a href="https://twitter.com/WhaleandJaguar" class ="social-logo" target="_blank">
      <img src="images/logo-tw-small.png">
    </a>
    <a href="https://www.facebook.com/whaleandjaguar/" class ="social-logo" target="_blank">
      <img src="images/logo-fb-small.png">
    </a>
    <a href="https://www.linkedin.com/company/22315371/" class ="social-logo" target="_blank">
      <img src="images/logo-in-small.png">
    </a>

  </span>
</p>